<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr"  [(ngModel)]="name">
</div>
<label class="switch">
  <input type="checkbox"  [(ngModel)]="onOff"  (ngModelChange)="modelChanged($event)">
  <span class="slider round"></span>
</label>
<button type="button" class="block" (click)="train()">Train</button>

<div id="app">
  
  <div><video #video id="video" width="610" height="610" autoplay></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="610" height="610"></canvas>
  <ul>
      <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
      </li>
  </ul>
</div>
